/*général*/
@font-face {
    font-family: 'poppins' ;
    src: url(fonts/poppins.ttf);
}
@font-face {
    font-family: 'poppins-med' ;
    src: url(fonts/Poppins-Medium.ttf);
}
body
{
    border: black 2px solid;
    margin: auto;
}

p
{
    font-family: 'poppins',Arial, Helvetica, sans-serif
}
h1
{
    font-family: 'poppins-med';
}
.white
{
    color: white;
}

.blue
{
    color: #0475ba;
}
h4
{
    font-size: 1.2em;
    padding: 30px 0px 20px 160px;
}
.bold
{
    font-weight: bold;
}


/*header*/
header
{
    display:flex;
    background-color: #0475ba;
    justify-content: flex-start;
    height:60px;
}
nav ul li
{
    display:inline-block;
    margin-right: 10px;
    font-size: 0,7em;

}
h1
{
    font-size: 1.2em;
    margin-left: 20px;
}

/* section image */
#photo
{
    display: flex;
    height: 200px;
    
    
}

h2 
{
 font-size: 1.5em;
 margin-left: 200px;
}

span
{
    font-size: 1em;
    
}

img
{
    border-radius: 50%;
    margin: auto auto;
     width: 170px;
    height: 170px;
}


/*section presentation*/
#presentation
{
    background-color: #0475ba;
    height: 200px;
    
}

ul
{
    padding: 0px 0px 40px 190px;
}

/*section expérience professionnelles*/
#expérience-pro
{
    height: 350px;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
h4
{
    margin-bottom: 0px;
}
#année
{
    
    flex-direction: column;
    
}
#année p
{
    margin-top: 99PX;
}

#expérience-pro p
{
    margin-left: 160px;
    margin-bottom: 1px;
    width: auto;
    
}




/*section formation*/
#formation
{
    background-color: #0475ba;
    height: 170px;
}
#formation p 
{
    padding-left:160px;
    
    
}
/* section passion*/
#passion p
{
    padding-left:160px;
}


/*footer*/
footer 
{
    background-color: #0475ba;
    height: 100px;
    display: flex;
    
}
div
{
    display: flex;
    flex-direction: column;
    padding-top: 20px;
    padding-left: 40px;
}
#konexio a
{
    margin-top: 10px;
}
#linkdin
{
    padding-left: 0px;
    width: 50px;

}
#linkdin a 
{
    padding-top: 10px;
    padding-left: 5px;
}
#icone
{
    
    padding-top: 17px;

}

#twit
{
    width:20px ;
    height: 20px;
    border-top: 0px;

}
#link
{
    width:20px ;
    height: 20px;
    
}


/*media queries */
@media (max-width: 768px)
{
 
    /*section header*/
    header
    {
        display: flex;
        flex-direction: column;
        height: auto;
    }
    /*section image */
    #photo
    {
        display: flex;
        flex-direction: column;
        height: auto;
        
    }
    #photo img 
    {
        margin: auto auto;
        border-radius: 50%;
    }
    /*section présentation*/
    #presentation 
    {
        display:flex;
        flex-direction: column;
    }
    ul li 
    {
        margin-left: 0px;
    }
    /*section expérience pro*/

    #expérience-pro
    {
        display:flex;
        
    }
    h4
    {
        padding-left: 0px;
        
    }
    #expérience-pro
    {
        height:auto ;
        border: 1px black solid;
    }
    #expérience-pro p
    {
        
        border: 1px black solid;
        margin-left: 0%;
        
    }
    #année 
    {
        padding-left: auto;
        width:90px;
        
    }
    /*section formation*/

    #formation
    {
        height: auto;
    }
    

}